* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, san-serif;
}

input, button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b3b7bb8a;
}
h1 {
  margin-bottom: 35%;
  /* margin-left: 10%; */
  font-size: 3rem;
  z-index: 2;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 252, 210);
  text-shadow: 3px 3px #353131;
}

img {
  position: fixed;
  position: center;
  width: 1000px;
  z-index: 1;
}

form{
  /* display: block; */
  position: relative;
}

form:after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 2;
  background-image: linear-gradient(to bottom right, #00ffaa, #3284ff);
  border-radius: 2%;
}

form .form-inner {
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 30px;
  z-index: 3;
}
form .form-inner h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label {
  display: block;
  color: #666;
  font-size: 18px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color:#3284ff;
}

form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #dad6d6;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type='submit'] {
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #3284ff 50%,  #3284ff 50%, #00ffaa);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner input[type='submit']:hover {
  background-position: 100%;
}